<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>12</key>
	<array>
		<dict>
			<key>key</key>
			<string>分类信息</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>分类</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>Treo</string>
			<key>value</key>
			<integer>43</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>Palm硬件</string>
			<key>value</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>Clie</string>
			<key>value</key>
			<integer>46</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>各类软件</string>
			<key>value</key>
			<integer>47</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>汉化</string>
			<key>value</key>
			<integer>48</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>Pre</string>
			<key>value</key>
			<integer>63</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>WebOS</string>
			<key>value</key>
			<integer>64</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>pixi</string>
			<key>value</key>
			<integer>78</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>求助</string>
			<key>value</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>站务</string>
			<key>value</key>
			<integer>19</integer>
		</dict>
	</array>
	<key>14</key>
	<array>
		<dict>
			<key>key</key>
			<string>分类信息</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>分类</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>心得技巧</string>
			<key>value</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>绿色汉化</string>
			<key>value</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>游戏</string>
			<key>value</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>多媒体</string>
			<key>value</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>数据库</string>
			<key>value</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>实用工具</string>
			<key>value</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>ROM</string>
			<key>value</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>硬件报告</string>
			<key>value</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>HPC</string>
			<key>value</key>
			<integer>44</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>求助</string>
			<key>value</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>站务</string>
			<key>value</key>
			<integer>19</integer>
		</dict>
	</array>
	<key>2</key>
	<array>
		<dict>
			<key>key</key>
			<string>分类</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>聚会</string>
			<key>value</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>汽车</string>
			<key>value</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>大杂烩</string>
			<key>value</key>
			<integer>38</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>助学</string>
			<key>value</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>Discovery</string>
			<key>value</key>
			<integer>56</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>投资</string>
			<key>value</key>
			<integer>57</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>职场</string>
			<key>value</key>
			<integer>58</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>文艺</string>
			<key>value</key>
			<integer>65</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>版喃</string>
			<key>value</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>显摆</string>
			<key>value</key>
			<integer>67</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>晒物劝败</string>
			<key>value</key>
			<integer>79</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>YY</string>
			<key>value</key>
			<integer>39</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>站务</string>
			<key>value</key>
			<integer>19</integer>
		</dict>
	</array>
	<key>24</key>
	<array>
		<dict>
			<key>key</key>
			<string>分类</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>电影</string>
			<key>value</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>音乐</string>
			<key>value</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>读书</string>
			<key>value</key>
			<integer>31</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>美术</string>
			<key>value</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>English</string>
			<key>value</key>
			<integer>36</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>摄影</string>
			<key>value</key>
			<integer>51</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>站务</string>
			<key>value</key>
			<integer>19</integer>
		</dict>
	</array>
	<key>25</key>
	<array>
		<dict>
			<key>key</key>
			<string>分类</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>美食</string>
			<key>value</key>
			<integer>34</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>出游</string>
			<key>value</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>兴趣</string>
			<key>value</key>
			<integer>54</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>站务</string>
			<key>value</key>
			<integer>19</integer>
		</dict>
	</array>
	<key>50</key>
	<array>
		<dict>
			<key>key</key>
			<string>分类信息</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>分类</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>UMPC</string>
			<key>value</key>
			<integer>62</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>笔记本电脑</string>
			<key>value</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>MP3随身听</string>
			<key>value</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>Gadgets</string>
			<key>value</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>DC</string>
			<key>value</key>
			<integer>52</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>游戏机</string>
			<key>value</key>
			<integer>53</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>站务</string>
			<key>value</key>
			<integer>19</integer>
		</dict>
	</array>
	<key>53</key>
	<array>
		<dict>
			<key>key</key>
			<string>分类信息</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>分类</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>BUG报告</string>
			<key>value</key>
			<integer>60</integer>
		</dict>
	</array>
	<key>59</key>
	<array>
		<dict>
			<key>key</key>
			<string>分类</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>Kindle</string>
			<key>value</key>
			<integer>68</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>SONY</string>
			<key>value</key>
			<integer>69</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>国产</string>
			<key>value</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>资源</string>
			<key>value</key>
			<integer>72</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>综合</string>
			<key>value</key>
			<integer>73</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>交流</string>
			<key>value</key>
			<integer>75</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>Nook</string>
			<key>value</key>
			<integer>77</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>求助</string>
			<key>value</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>站务</string>
			<key>value</key>
			<integer>19</integer>
		</dict>
	</array>
	<key>6</key>
	<array>
		<dict>
			<key>key</key>
			<string>分类</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>手机</string>
			<key>value</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>掌上电脑</string>
			<key>value</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>笔记本电脑</string>
			<key>value</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>无线产品</string>
			<key>value</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>数码相机、摄像机</string>
			<key>value</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>MP3随身听</string>
			<key>value</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>各类配件</string>
			<key>value</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>其他好玩的</string>
			<key>value</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>站务</string>
			<key>value</key>
			<integer>19</integer>
		</dict>
	</array>
	<key>62</key>
	<array>
		<dict>
			<key>key</key>
			<string>分类</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>各类配件</string>
			<key>value</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>ROM</string>
			<key>value</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>硬件报告</string>
			<key>value</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>业界</string>
			<key>value</key>
			<integer>41</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>各类软件</string>
			<key>value</key>
			<integer>47</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>综合</string>
			<key>value</key>
			<integer>73</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>安卓</string>
			<key>value</key>
			<integer>74</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>交流</string>
			<key>value</key>
			<integer>75</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>求助</string>
			<key>value</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>站务</string>
			<key>value</key>
			<integer>19</integer>
		</dict>
	</array>
	<key>65</key>
	<array>
		<dict>
			<key>key</key>
			<string>分类</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>聚会</string>
			<key>value</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>汽车</string>
			<key>value</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>大杂烩</string>
			<key>value</key>
			<integer>38</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>助学</string>
			<key>value</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>Discovery</string>
			<key>value</key>
			<integer>56</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>投资</string>
			<key>value</key>
			<integer>57</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>职场</string>
			<key>value</key>
			<integer>58</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>文艺</string>
			<key>value</key>
			<integer>65</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>版喃</string>
			<key>value</key>
			<integer>66</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>显摆</string>
			<key>value</key>
			<integer>67</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>晒物劝败</string>
			<key>value</key>
			<integer>79</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>YY</string>
			<key>value</key>
			<integer>39</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>站务</string>
			<key>value</key>
			<integer>19</integer>
		</dict>
	</array>
	<key>7</key>
	<array>
		<dict>
			<key>key</key>
			<string>分类</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>Gadgets</string>
			<key>value</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>无线</string>
			<key>value</key>
			<integer>21</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>嵌入式Linux</string>
			<key>value</key>
			<integer>22</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>业界</string>
			<key>value</key>
			<integer>41</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>安卓</string>
			<key>value</key>
			<integer>74</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>高清播放器</string>
			<key>value</key>
			<integer>76</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>站务</string>
			<key>value</key>
			<integer>19</integer>
		</dict>
	</array>
	<key>9</key>
	<array>
		<dict>
			<key>key</key>
			<string>分类</string>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>Symbian</string>
			<key>value</key>
			<integer>23</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>PalmOS</string>
			<key>value</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>Linux</string>
			<key>value</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>Windows Mobile</string>
			<key>value</key>
			<integer>26</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>运营商</string>
			<key>value</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>Other</string>
			<key>value</key>
			<integer>28</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>BlackBerry</string>
			<key>value</key>
			<integer>59</integer>
		</dict>
		<dict>
			<key>key</key>
			<string>站务</string>
			<key>value</key>
			<integer>19</integer>
		</dict>
	</array>
</dict>
</plist>
