<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>hp_smile_default_smile.gif</string>
		<key>text</key>
		<string>:)</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_sweat.gif</string>
		<key>text</key>
		<string>:sweat:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_huffy.gif</string>
		<key>text</key>
		<string>:huffy:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_cry.gif</string>
		<key>text</key>
		<string>:cry:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_titter.gif</string>
		<key>text</key>
		<string>:titter:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_handshake.gif</string>
		<key>text</key>
		<string>:handshake:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_victory.gif</string>
		<key>text</key>
		<string>:victory:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_curse.gif</string>
		<key>text</key>
		<string>:curse:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_dizzy.gif</string>
		<key>text</key>
		<string>:dizzy:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_shutup.gif</string>
		<key>text</key>
		<string>:shutup:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_funk.gif</string>
		<key>text</key>
		<string>:funk:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_loveliness.gif</string>
		<key>text</key>
		<string>:loveliness:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_sad.gif</string>
		<key>text</key>
		<string>:(</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_biggrin.gif</string>
		<key>text</key>
		<string>:D</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_cool.gif</string>
		<key>text</key>
		<string>:cool:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_mad.gif</string>
		<key>text</key>
		<string>:mad:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_shocked.gif</string>
		<key>text</key>
		<string>:o</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_tongue.gif</string>
		<key>text</key>
		<string>:P</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_lol.gif</string>
		<key>text</key>
		<string>:lol:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_shy.gif</string>
		<key>text</key>
		<string>:shy:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_default_sleepy.gif</string>
		<key>text</key>
		<string>:sleepy:</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_coolmonkey_01.gif</string>
		<key>text</key>
		<string>{:2_41:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_coolmonkey_02.gif</string>
		<key>text</key>
		<string>{:2_42:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_coolmonkey_03.gif</string>
		<key>text</key>
		<string>{:2_43:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_coolmonkey_04.gif</string>
		<key>text</key>
		<string>{:2_44:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_coolmonkey_05.gif</string>
		<key>text</key>
		<string>{:2_45:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_coolmonkey_06.gif</string>
		<key>text</key>
		<string>{:2_46:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_coolmonkey_07.gif</string>
		<key>text</key>
		<string>{:2_47:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_coolmonkey_08.gif</string>
		<key>text</key>
		<string>{:2_48:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_coolmonkey_09.gif</string>
		<key>text</key>
		<string>{:2_49:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_coolmonkey_10.gif</string>
		<key>text</key>
		<string>{:2_50:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_coolmonkey_11.gif</string>
		<key>text</key>
		<string>{:2_51:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_coolmonkey_12.gif</string>
		<key>text</key>
		<string>{:2_52:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_coolmonkey_13.gif</string>
		<key>text</key>
		<string>{:2_53:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_coolmonkey_14.gif</string>
		<key>text</key>
		<string>{:2_54:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_coolmonkey_15.gif</string>
		<key>text</key>
		<string>{:2_55:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_coolmonkey_16.gif</string>
		<key>text</key>
		<string>{:2_56:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_01.gif</string>
		<key>text</key>
		<string>{:3_57:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_02.gif</string>
		<key>text</key>
		<string>{:3_58:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_03.gif</string>
		<key>text</key>
		<string>{:3_59:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_04.gif</string>
		<key>text</key>
		<string>{:3_60:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_05.gif</string>
		<key>text</key>
		<string>{:3_61:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_06.gif</string>
		<key>text</key>
		<string>{:3_62:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_07.gif</string>
		<key>text</key>
		<string>{:3_63:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_08.gif</string>
		<key>text</key>
		<string>{:3_64:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_09.gif</string>
		<key>text</key>
		<string>{:3_65:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_10.gif</string>
		<key>text</key>
		<string>{:3_66:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_11.gif</string>
		<key>text</key>
		<string>{:3_67:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_12.gif</string>
		<key>text</key>
		<string>{:3_68:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_13.gif</string>
		<key>text</key>
		<string>{:3_69:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_14.gif</string>
		<key>text</key>
		<string>{:3_70:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_15.gif</string>
		<key>text</key>
		<string>{:3_71:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_16.gif</string>
		<key>text</key>
		<string>{:3_72:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_17.gif</string>
		<key>text</key>
		<string>{:3_73:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_18.gif</string>
		<key>text</key>
		<string>{:3_74:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_19.gif</string>
		<key>text</key>
		<string>{:3_75:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_20.gif</string>
		<key>text</key>
		<string>{:3_76:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_21.gif</string>
		<key>text</key>
		<string>{:3_77:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_22.gif</string>
		<key>text</key>
		<string>{:3_78:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_23.gif</string>
		<key>text</key>
		<string>{:3_79:}</string>
	</dict>
	<dict>
		<key>image</key>
		<string>hp_smile_grapeman_24.gif</string>
		<key>text</key>
		<string>{:3_80:}</string>
	</dict>
</array>
</plist>
